In [33]:
import pandas as pd
import numpy as np
import time

In [38]:
class Local:
    def __init__(self, coordenada_x, coordenada_y, frequentadores):
        self.coordenada_x = coordenada_x
        self.coordenada_y = coordenada_y
        self.frequentadores = frequentadores

In [39]:
file_name = "tabela_final.csv"

df = pd.read_csv(file_name)

In [40]:
df.head(10)

     coord_x     coord_y                                     frequentadores
0 -2960000.0  15550000.0                           [3121617102, 3121617102]
1  -532545.0   8154364.0  [4970764101, 4970764101, 4970764101, 497076410...
2  -209858.0   7392610.0                           [3980080102, 3980080102]
3  -159684.0   7539752.0  [390035102, 390035101, 390035102, 390035101, [...
4  -126000.0   7589000.0                                       [1731673101]
5  -100814.0   6661857.0  [3270079101, 3270079101, 760739101, 760739101,...
6   -56149.0   7484286.0                                       [4610002103]
7   -50502.0   8231555.0                                        [271962101]
8    -9724.0   7535760.0               [1340400102, 1340400102, 1340400102]
9    26089.0   7442971.0                           [5061643101, 5061643101]

In [69]:
len(df)

76482

In [41]:
Local(1,2,[3,4])

In [45]:
Local(df.iloc[0,0],df.iloc[0,1], df.iloc[0,2])

In [44]:
lista = []

In [76]:
len(lista)

76482

In [57]:
df.iloc[0,0]

-2960000.0

In [58]:
df.iloc[0,1]

15550000.0

In [59]:
df.iloc[0,2]

'[3121617102, 3121617102]'

In [72]:
start_time = time.time()
cont = 0
for i in range(len(df)):
    lista.append(Local(df.iloc[cont,0],df.iloc[cont,1], df.iloc[cont,2]))
    cont += 1
print("--- %s seconds ---" % (time.time() - start_time))
#--- 2.1113011837005615 seconds ---

--- 2.1113011837005615 seconds ---

In [73]:
lista[0].coordenada_x

-2960000.0

In [74]:
lista[0].coordenada_y

15550000.0

In [75]:
lista[0].frequentadores

'[3121617102, 3121617102]'